$amarillo: #fbec0d;

@import "header";
@import "horario";
@import "menu";
@import "wsp";
@import "instagram";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');